html,body,p {
    margin: 0;
    padding: 0;
    
}
*{
    box-sizing:border-box;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 0;
    text-decoration: unset; 
    color:black;
}
.top_flex{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.mid_flex{
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
}
.bottom_flex{
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
h1{
    margin-left: 15px;
    font-weight: bold;
    font-size: 32px;
}
a{
    width: 75px;
}
nav{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    align-self: flex-start;
    justify-content: right;
}
#helper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
header{
    padding: 30px;
}
main{
    padding: 15px;
}
article{
    margin: 15px;
    width: 100%;
    border: 2px black solid;
    display: flex;
    align-self:flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h3{
    height: 50px;
    width: 50%;
    font-size: 1.5em;
    align-self:flex-end;
    text-align: center;
    background-color: lightgray;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    margin-top: 0;
}
.art_p{
    text-align: justify;
    padding: 15px;
}
footer{
    height: 100px;
    background-color: lightgray;
    border-top: 2px black solid;
    /* margin-top: 15px; */
    align-items: center;
    justify-content: center;
}
#author_name{
    font-weight: bold;
}
html, body {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
main{
    flex: 1;
}
@media (max-width: 600px) {
    body {
      background-color: red;
    }
    .top_flex{
        flex-direction: column;
    }
    #helper{
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
    .mid_flex{
        flex-direction: column;
    }
    #extra{
        display: none;
    }
}
@media (min-width: 601px) and (max-width: 1200px) {
    body {
      background-color: yellow;
    }
    #extra{
        display: none;
    }
}
@media (min-width: 1201px) {
    body {
      background-color: green;
    }
    nav{
        justify-content: left ;
    }
    #helper{
        display: flex;
        flex-direction: row;
        flex-grow: 0;
    }
    #extra{
        width: 100%;
        background-color: beige;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
    }
}
#div_ani {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  }
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  }